@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Hello, Welcome To Flashback!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div><img src="https://static1.squarespace.com/static/555972c1e4b02d69c9adcd72/t/55597342e4b01acf2bff2846/1583450529111/?format=1500w" class="img-fluid" alt="Responsive image"></div>
